.home {
    /* background: linear-gradient(var(--green), var(--subcolor)); */
    background: linear-gradient(var(--green-transparent), var(--subcolor-transparent)), url('/backgroundimg.jpg') repeat center !important;
    background-size: cover;
    height: 100vh;
    width: 100%;
    overflow: hidden !important;
    margin: 0;
    padding: 0;
}

.home .home-content {
    width: 100%;
    height: 100vh;
    left: 0;
    word-wrap: break-word;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.home .home-content header {
    z-index: 100 !important;
    color: var(--white);
    text-align: center !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    gap: 5vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.home .home-content.active {
    display: none;
}

.home .home-content header:before,
.home .home-content header:after {
    content: "";
    display: table;
    clear: both;
}

.home .home-content h1 {
    font-size: 64px !important;
    margin-top: 16px !important;
    margin-left: 16px !important;
    margin-right: 16px !important;
}

.home .home-content p {
    font-size: 19px !important;
}

.home .home-content footer {
    position: absolute;
    left: 50%;
    bottom: 10px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    color: var(--white);
}

.home .buttons {
    gap: 10px;
    display: flex;
}

.home .buttons .button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    vertical-align: middle;
    transition: 0.3s ease-in-out;
}

.home .buttons .button.primary {
    background-color: var(--white);
    color: var(--green);
    border: 2px solid var(--white);
    padding: 10px 35px !important;
}

.home .buttons .button.primary:hover {
    background-color: transparent;
    color: var(--white);
    border: 2px solid var(--white);
}

.home .buttons .button.secondary {
    background-color: transparent;
    color: var(--white);
    border: 2px solid var(--white);
}

.home .buttons .button.secondary:hover {
    background-color: var(--white);
    color: var(--green);
}


@media screen and (max-width: 400px) {
    .home .home-content h1 {
        font-size: 38px !important;
        margin-top: 16px !important;
        margin-left: 16px !important;
        margin-right: 16px !important;
        margin-bottom: 0;
    }

    .home .home-content p {
        font-size: 12px !important;
        margin-top: -13px !important;
    }

    .home .buttons .button {

        padding: 8px 10px;
        font-size: 12px;
    }


    .home .buttons .button.primary {
        padding: 8px 22px !important;
    }

    .home .buttons {
        gap: 6px;
    }

    .home .home-content footer {
        font-size: 12px;
    }
}