.topnav .logo:hover {
  color: var(--subcolor-light);

  :is(img) {
    opacity: 0.8;
  }
}

.topnav .navlist a:hover {
  color: var(--subcolor-light);
  border-bottom: 3px solid var(--subcolor-light);
}

.topnav .logo {
  display: flex;
  align-items: center;
  font-weight: 800;
  gap: 7px;
  font-size: 25px;
}

.topnav a.icon:hover {
  color: var(--subcolor-light);
}


@media screen and (min-width: 600px) {

  .topnav {
    background: none;
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: var(--white);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
  }

  .topnav .navlist {
    display: flex;
    flex-direction: row;
    align-items: center;
    vertical-align: middle;
    height: 100%;
    margin-top: 9px;
  }

  .topnav .navlist a {
    display: flex;
    vertical-align: middle;
  }

  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }

}

@media screen and (max-width: 600px) {

  /* Style the navigation menu */
  .topnav {
    background: none;
    overflow: hidden;
    width: 100%;
    position: relative;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav .navlist {
    display: none;
  }

  /* Style navigation menu links */
  .topnav a {
    color: var(--white);
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;

  }

  .topnav .navlist a {
    /* display: flex; */
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    width: 80%;
    padding-top: 5%;
    padding-bottom: 5%;
  }

  .topnav .navlist.active {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    vertical-align: middle;
    height: 100vh;
  }


  /* Style the hamburger menu */
  .topnav a.icon {
    background: transparent;
    display: flex;
    vertical-align: middle;
    align-self: center;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 30px;
    align-items: center;
    cursor: pointer;
  }

  .topnav a.icon.active {
    height: inherit;
    font-size: 35px;
  }


}