.passres {
  background: linear-gradient(var(--green-transparent), var(--subcolor-transparent)), url('/backgroundimg.jpg') repeat center !important;
  background-size: cover;
  width: 100%;
  height: 100lvh;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  flex-direction: column;
  vertical-align: middle;
}

.passres .wrapper {
  width: 450px;
  padding: 1.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  color: var(--green);
  border-radius: 0.5rem;
  box-shadow: 0 0 10px 2px rgba(18, 41, 19, 0.4);
}

.passres .wrapper .heading {
  font-size: 2rem;
  text-align: center;
}

.passres .wrapper .form {
  display: flex;
  flex-direction: column;
  margin-top: .7rem;
}

.passres .wrapper .form .error-msg {
  color: #C14B2B;
  background-color: #FEE5DF;
  width: 100% !important;
  border-radius: 5px;
  text-align: center;
  display: block;
  padding: 0.5rem 0;
}

.passres .wrapper .form input {
  padding: 0.8rem 0.8rem;
  border-radius: 0.3rem;
  font-size: 1rem;
  border: var(--border);
  outline: none;
  color: var(--black);
  margin-bottom: 1rem;
  resize: none;
  scroll-behavior: smooth;
  overflow-y: auto;
  display: block;
  width: 100%;
}

.passres .wrapper .form input::placeholder {
  color: gray;
}

.passres .wrapper .form button {
  padding: 0.8rem;
  font-size: 1rem;
  font-weight: bold;
  color: var(--white);
  background: var(--green);

  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.8;
  margin-bottom: .5em;
  z-index: 100;
  width: 100%;
  transition: none !important;
}

.passres .wrapper .form button:hover {
  /* opacity: 1; */
  background: linear-gradient(var(--green), var(--subcolor));
  -moz-background-clip: border-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  fill: var(--white);
  -webkit-text-fill-color: var(--white);
}

.passres .wrapper .form input {
  display: block !important;
  width: 100%;
  margin-top: 1em;
}

.passres .wrapper .form {
  display: table;
  width: 100%;
}

.passres .wrapper .form .link {
  margin-top: .5rem;
  text-align: right !important;
  float: right;
  font-size: 14px;
  width: 100% !important;
}

hr {
  border-radius: 5px;
  border-color: var(--bg-dark);
  border-width: 3px;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  margin-bottom: 1rem;

}

.passres label {
  font-size: 18px;
  width: 100%;
  text-align: center;
  align-content: center;
  color: var(--black);
  margin-bottom: 1em !important;
  margin-top: 0.1em;
  text-align: center;
  display: block;
}

@media (max-width: 580px) {
  .passres .wrapper {
    width: 90%;
  }
}