.register {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  flex-direction: column;
  vertical-align: middle;
}

.register .wrapper {
  width: 450px;
  padding: 1.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  color: var(--green);
  border-radius: 0.5rem;
  box-shadow: 0 0 10px 2px rgba(18, 41, 19, 0.4);
}

.register .wrapper .heading {
  font-size: 2rem;
  text-align: center;
}

.register .wrapper .form {
  display: flex;
  flex-direction: column;
  margin-top: .7rem;
}

.register .wrapper .form .error-msg {
  color: #C14B2B;
  background-color: #FEE5DF;
  width: 100% !important;
  border-radius: 5px;
  text-align: center;
  display: block;
  padding: 0.5rem 0;
}

.register .wrapper .form input,
.register .wrapper .form textarea {
  padding: 0.8rem 0.8rem;
  border-radius: 0.3rem;
  font-size: 1rem;
  border: var(--border);
  outline: none;
  color: var(--black);
  margin-bottom: 1rem;
  resize: none;
  scroll-behavior: smooth;
  overflow-y: auto;
  display: block;
  width: 100%;
}

.register .wrapper .form .select {
  border: none !important;
  margin-bottom: 1rem;
  width: 100%;
  display: flex;
}



.register .wrapper .form input::placeholder,
.register .wrapper .form textarea::placeholder,
.register .wrapper .form select #selectnone {
  color: gray;
}

.register .wrapper .form button {
  padding: 0.8rem;
  font-size: 1rem;
  font-weight: bold;
  color: var(--white);
  background-color: var(--green);
  display: flex;
  align-items: center;
  justify-content: center;
  /* opacity: 0.8; */
  margin-bottom: .5em;
  z-index: 100;
}

.register .wrapper .form .avatar-wrapper {
  height: 200px;
  width: 200px;
  position: relative;
  border-radius: 0.5rem;
  overflow: hidden;
  display: flex !important;
  align-self: center;
  margin-bottom: 0.5rem;
  border: 1px solid var(--bg-light);
  width: 55%;
  height: 55%;
  justify-content: center;
  /* margin: auto; */
  clear: both;
  /* top: 50%; */
  left: 22.5%;
  align-items: center;
}

.register .wrapper .form .avatar-wrapper i {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.3rem;
  font-size: 1.2rem;
  border-radius: 0.5rem 0 0 0;
  background-color: rgba(255, 255, 255, 0.7);
  /* display: block; */
  /* width: 100%; */
}

.register .wrapper .form .avatar-wrapper .upload-image {
  color: var(--black);
  cursor: pointer;
  width: 100%;
  justify-content: center;
  align-items: center;
  justify-self: center;
  /* justify-content: space-around; */
  padding-top: 0.2em;
  display: flex;
}

.register #upload-image {
  display: none !important;
  justify-content: center;
  align-items: center;
  justify-self: center;
}

.register .wrapper .form .avatar-wrapper .upload-image:hover {
  color: var(--green);
}

.register .wrapper .form .note {
  font-style: italic;
  color: gray;
  font-size: 1rem;
  margin-bottom: 1.2rem;
  align-self: center;
  width: 100%;
  display: block;
  text-align: center;
}


.register .form a {
  color: var(--green);
  text-decoration: underline;
}

.register .btnProceed {
  width: 100%;
  transition: none !important;
}

.register .wrapper .form .btnProceed:hover {
  /* opacity: 1; */
  background: linear-gradient(var(--green), var(--subcolor));
  -moz-background-clip: border-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  fill: var(--white);
  -webkit-text-fill-color: var(--white);
}

.register .wrapper .form .btnBack {
  color: black !important;
  background-color: var(--bg-light) !important;
  width: 100%;
}

.register .wrapper .form .btnBack:hover {
  color: var(--green) !important;
  opacity: 5 !important;
}


.register .wrapper .form .link {
  margin-top: .5rem;
  text-align: right !important;
  float: right;
  font-size: 14px;
  width: 100% !important;
}

.register .wrapper .form .link:hover a {
  text-decoration: underline;
  transition: text-decoration 0.1s ease-in-out;
}

.register .wrapper .form .input-label {
  color: var(--black);
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: .5rem;
}

.register .wrapper .form #fname {
  pointer-events: all;
  display: block !important;
  /* justify-content: space-between !important; */
  width: 48.5%;
  float: left !important;
}

.register .wrapper .form #lname {
  pointer-events: all;
  display: block !important;
  /* justify-content: space-between !important; */
  width: 48.5%;
  float: right !important;
}

.register .wrapper .form input {
  display: block !important;
  width: 100%;
}

.register .wrapper .form {
  display: table;
  width: 100%;
}


hr {
  border-radius: 5px;
  border-color: var(--bg-dark);
  border-width: 3px;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  margin-bottom: 1rem;

}

@media (max-width: 580px) {
  .register .wrapper {
    width: 90%;
  }
}